.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 4.5rem;
  z-index: 1;
}

.aboutInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.staffImagesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: max-content;
  gap: 1rem;
}

.staffSquare {
  background-color: #222;
  width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  overflow: hidden;
}

.staffSquareImage {
  object-fit: cover;
  object-position: center;
  height: 100%;
  filter: contrast(110%) saturate(110%);
}

.lastSquare {
  border: 0.3rem solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  background-color: transparent;
}

.staffName {
  display: block;
  font-size: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  animation: displace infinite ease-in-out 10s;
  bottom: 100%;
  background: linear-gradient(to left, hsl(262, 65%, 63%), hsl(322, 65%, 63%));
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  text-shadow: 0px 2px 20px rgba(139, 29, 99, 0.3)
}

@keyframes displace {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    transform: translateY(-100%);
  }

  65% {
    transform: translateY(-100%);
  }

  90% {
    transform: translateY(-200%);
    opacity: 1;
  }

  100% {
    transform: translateY(-200%);
    opacity: 0;
  }
}

.infoContainer {
  width: 40%;
}

.aboutTitle {
  color: var(--white);
  font-size: 1.8rem;
  margin-top: 0;
}

.accentTitleBrand {
  font-family: 'Arista';
  font-size: 2rem;
  color: var(--white);
  margin: 0;
}

.aboutText {
  color: var(--light-white);
  font-size: 1.1rem;
}
