.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 5rem 0;
  justify-content: flex-start;
}

.productImageBackground {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  filter: blur(10px) brightness(90%);
  position: absolute;
  inset: 0;
  z-index: 0;
}

.gallery {
  width: 67%;
  display: grid;
  place-items: center;
}

.productImage {
  width: 60%;
  z-index: 1;
  border-radius: 0.5rem;
  filter: brightness(130%);
}

.asideBar {
  background-color: var(--transparent-dark);
  width: 33%;
  padding: 5.5rem 3.5rem 3.5rem 3.5rem;
  flex: 1;
  height: 100vh;
  position: absolute;
  right: 0;
  z-index: 1;
}

.titleAndPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productTitle {
  margin: 0;
  font-size: 1.5rem;
  color: var(--white);
}

.productPrice {
  margin: 0;
  font-size: 1.3rem;
  color: var(--white);
  font-weight: bold;
}

.productDescription {
  color: var(--light-white);
}

.discountTitle {
  font-size: 1.1rem;
  color: var(--white);
  margin: 1rem 0 0.3rem 0;
}

.discountContainer {
  display: grid;
}

.discountCodeText {
  font-size: 0.9rem;
  color: var(--light-white);
}

.discountCode {
  color: #09f;
  font-weight: bold;
  font-size: 1rem;
}

.finalPrice {
  color: var(--white);
  margin: 1rem 0 0 0;
}

.button {
  border-radius: 0.3rem;
  border: none;
  outline: none;
  background-color: #09f;
  width: 100%;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  margin: 2rem 0 0.2rem 0;
}

.warningText {
  color: var(--light-white);
  font-size: 0.9rem;
}
