.section {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 4.5rem;
}

.infoContainer {
  display: grid;
  place-items: center left;
  position: relative;
  z-index: 1;
  padding: 2rem;
  gap: 2rem;
}

.text {
  margin: 0;
  padding: 0;
  color: var(--white);
  font-size: 2.8rem;
  width: 65%;
}

.helperText {
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
  width: 65%;
  font-size: 1.3rem;
}

.glowingText {
  color: rgb(240, 0, 0);
  text-shadow: 0 0.3rem 0.6rem rgba(255, 0, 0, 0.6);
  font-weight: bold;
}

.backgroundImage {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(60%);
  z-index: 0;
  height: 100vh;
}
