.section {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #222;
  padding: 4.5rem;
}

.infoContainer {
  display: grid;
  place-items: center left;
  position: relative;
  z-index: 1;
  padding: 2rem;
  gap: 2rem;
}

.text {
  margin: 0;
  padding: 0;
  color: var(--white);
  font-size: 2.8rem;
  width: 65%;
}

.helperText {
  margin: 0;
  color: var(--light-white);
  width: 65%;
  font-size: 1.2rem;
}

.backgroundImage {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(60%);
  z-index: 0;
}
