.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  z-index: 3;
}

.navItemList {
  list-style: none;
  display: flex;
  align-items: center;
  width: max-content;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.listItem {
  color: var(--light-white);
  font-weight: 400;
  padding: 1.5rem 1.5rem;
  width: 100%;
  font-size: 1.1rem;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.2s ease-in-out color;
}
